<!-- <div class="dropdown clearfix pull-right open">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
            <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>

        </li>
        <li>
          <%= link_to("按照发表时间排序", jobs_path ) %>

        </li>
    </ul>
</div> -->

<br>
<br>

<div class="btn-group pull-right" role="group" aria-label="...">
     <%= link_to("按薪资下限排序", jobs_path(:order => "by_lower_bound"), :class => "btn btn-default") %>
     <%= link_to("按薪资上限排序", jobs_path(:order => "by_upper_bound"), :class => "btn btn-default") %>
     <%= link_to("按需求时间排序", jobs_path(:order => "by_require_time"), :class => "btn btn-default") %>
     <%= link_to("按发表时间排序", jobs_path, :class => "btn btn-default") %>
</div>
<div class="item_div">
<!-- <table class="table table-boldered"> -->
<table class="table table-boldered table-striped " >
  <thead>
    <tr>
      <td>需求</td>
      <td>种类</td>
      <td>城市</td>
      <td>区域</td>
      <td>薪资范围</td>
      <td>需求时间</td>
      <td>刊登时间</td>
    </tr>
  </thead>
  <tbody>
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= link_to(job.title, job_path(job)) %>
    </td>
    <!-- <td>
     <i class="fa fa-fire"></i>
   </td> -->
    <td>
     <%= link_to(job.field, job_path(job)) %>
    </td>
    <td>
     <%= link_to(job.city, job_path(job)) %>
    </td>
    <td>
     <%= link_to(job.location, job_path(job)) %>
    </td>
    <td width="30%">
     <span class="label label-info">
      <span class="fa fa-rmb"></span>
      <%= job.wage_lower_bound%> - <%= job.wage_upper_bound%> 元
    </span>
    </td>
    <td width="10%">
      <%= local_time(job.require_time, '%B %e, %Y') %>
    </td>
    <td width="10%">
      <%= local_time(job.created_at, '%B %e, %Y') %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
</div>

<div class="text-center">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
</div>
