<!DOCTYPE html>
<html>
  <head>
    <title>奇妙工作网</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
     <%= render "common/navbar" %>
   </div>
    <%= render "common/flashes" %>
    <%= yield %>
  </body>

  <%= render "common/footer" %>
</html>
